#canvas {
  outline: 1px solid black;
}

body {
  background: #d9ded8;
  font-family: monospace;
}

input {
  font-family: monospace;
}

.input-containers {
  display: flex;
}

.input-containers .input-label {
  width: 100px;
}
